<div class="grid-container outline">
  <div class="row">
   <div class="col-6"><%= image_tag "MatrixStills.jpg", class:"movie-stills",  alt: "The Matrix" %></div>
  </div>
  <div class="row">
    <div class="col-1"><h3>The Matrix</h3></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class= "col-6"><p class="medium">A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.</p></div>
    <div class= "col-2"><%= image_tag "TheMatrix.jpg", alt: "The Matrix"%></div>
  </div>
</div>
