<!DOCTYPE html>
<html>
  <head>
    <title> movietime </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
      <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" type="text/css" href="styles/normalize.css">
      <link rel="stylesheet" type="text/css" href="styles/main.css">
      <link rel="stylesheet" type="text/css" href="styles/collection.css">
    </head>

<body class="collection">
  <nav class="navbar">
    <!-- <a href="welcome/index.html.erb" class="logo">

      <img src="assets/images/movietime_logo.png" alt="movietime logo">
    </a> -->
    
    <%= image_tag asset_path("movietime_logo.png") %>
</nav>
     
<h4 class="column">movietime</h4>
<h1 class="center"> All Movies</h1>

</body>
</html>