<div class="grid-container outline">
  <div class="row">
   <div class="col-6"><%= image_tag "GFStills.jpg", class:"movie-stills",  alt: "The God Father" %></div>
  </div>
  <div class="row">
    <div class="col-1"><h3>The Godfather</h3></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"><%= image_tag "TheGodFather.jpg", alt: "The God Father" %></div>
  </div>
  <div class="row">
    <div class= "col-2"><p>"The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son."</p></div>
  </div>
</div>






