// Index page style

.movies-grid {
  .movie-card {
  width:220px;
  margin:auto;
  
  .poster img {
    height: 325px;
    width:100%;
  }
  
  .movie-info {
    .title { height: 4em; }
    }
  }
}



// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
